# Ignore virtual environment and system files
venv/
Lib/
Scripts/
Include/
__pycache__/
*.pyc
*.log
*.tmp
.vscode/
pyvenv.cfg

# Sensitive and environment-specific files
.env

# Model and data files
*.sav
*.csv
temp.wav
# Ignore local model training files
retrain_model.py
models/retrain.model
models/retrain_scaler.pkl
models/scaler.pkl

